* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #E9D5CA;
}
/* NAV STYLES */
.navbar-brand{
    animation-name: girando;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.navbar{
    background-color: #363062 !important;
}

.nav-link{
    font-size: 1.4rem;
    border: solid 2px #827397;
    margin: 3px;
    transition: .5s;
    color: white ;
}
.nav-link:hover{
    background-color: #827397 ;
    color: white ;
    transform: scale(1.4);
}

/* HEADER STYLES */
.header {
    
   
    
    text-align: center;
    color: rgb(0, 0, 0);
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;


}

.header h1 {
    font-size: 3em;
    font-weight: bold;
    
}

.header p {
    
    border-radius: 10px;
    max-width: 50%;
color: rgb(0, 0, 0);
    font-size: 1em;
    margin: auto;
    font-size: 1.2rem;
    
    
}

.separador{
    height: 4px;
    background-color: #363062;
}

/* SECT 1 STYLES */
.pSize2 {
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    margin-top: 4.4em;
    
    border: solid black 2px;
    

}
.imgSize1 {
    width: 40em;
    
}

.buttonStyle {
    font-size: 2em;
    background-image: linear-gradient(to left, #4D4C7D, #827397);
    color: rgb(0, 0, 0);
    background-color: #E9D5CA;
    border-radius: 35px;
    padding: 1em;
    font-weight: bold;
    transition: 1s;
    margin-left: 450px;
    margin-bottom: 2em;
}


.buttonStyle:hover {
    font-size: 2em;
    background-color: rgb(209, 13, 105);
    color: white;
    cursor: pointer;
    transform: scale(1.2);


}

/* FOOTER STYLE */
.footer {
    flex-direction: column;
}

.divFooterMod1 {
    margin: auto;
}

.divFooterMod2 {
    margin: auto;
}

.divFooterMod1 img {
    width: 100px;
    animation-name: girando;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
.footer {
   
    display: flex;
    background-color: #827397;
    align-items: center;
    text-align: center;


}

.footer a img {
    width: 40px;

}




.footer p {
    font-size: 1em;
    margin-bottom: 1em;
    color: white;
    font-weight: 700;

}
/* KEYFRAMES */
@keyframes girando {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* MEDIA QUERY */
@media (max-width: 1200px){
    div a button{display: none;}
}

@media (max-width: 500px){
    .header p{
        display: none;}
    
    
}

